.deactive-doctor-card {
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    float: right;
    margin-right: 15%;
    margin-top: -24%;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .deactive-doctor-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .deactive-doctor-table th,
  .deactive-doctor-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .deactive-doctor-table th {
    background-color: #f2f2f2;
  }
  
  .deactive-doctor-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .deactive-doctor-table tr:hover {
    background-color: #e9e9e9;
  }
  