/* Doctorcard.css */
.doctor-card {
    width: 190px;
    height: 254px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    margin: 5rem;
  }
  
  .doctor-card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
  }
  
  .doctor-card .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .doctor-card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .doctor-card .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    font-size: 30px;
  }
  
  .doctor-card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  
  .doctor-card .docimg {
    border-radius: 50%;
    width: 130%;
  }
  
  .doctor-card .doc-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .doctor-card .doc-name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Additional Styles */
  .doctor-card {
    position: relative;
    overflow: hidden;
  }
  
  .doctor-card .doc-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .doctor-card .doc-name {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .doctor-card .desc {
    font-size: 20px;
  }
  
  .cont{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    margin-left: 10%;
  }