.navbar-nav {
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1;
}

.navbar-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #000;
}

.dropdown-container {
  position: relative;
}

.dropdown-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

/*  */

.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
