.navbar {
  background-color: #f2f2f2; /* Constant background color */
}

.navbar-nav .nav-item .nav-link {
  color: #333; /* Constant text color */
  transition: color 0.3s; /* Transition for hover effect */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff; /* Color on hover */
}

.navbar-nav .nav-item.dropdown .nav-link {
  color: #333; /* Constant text color for dropdown */
}

.navbar-nav .nav-item.dropdown .nav-link:hover {
  color: #007bff; /* Color on hover for dropdown */
}

.dropdown-menu .dropdown-item {
  color: #333; /* Constant text color for dropdown items */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #007bff; /* Background color on hover for dropdown items */
  color: #fff; /* Text color on hover for dropdown items */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Set text color on hover for navbar links */
  background-color: #80b6ef; /* Set background color on hover for navbar links */
}
